body
{
    /*background: url('images/pattern.gif') repeat fixed;*/
    font-family: Calibri, sans-serif;
    color: #666;
    padding-top: 70px;
}

body *
{
  word-wrap:break-word;
}

.login-box
{
    width: 316px;
    margin:auto;
}

.login-box input
{
    text-align: center;
    line-height: initial;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}