html,
body
{
	min-height: 100%;
}

body
{
	color: #666;
	font-family: Calibri, sans-serif;
	padding-bottom: 100px;
	/*background: url('/img/pattern.gif') repeat fixed;*/
}

body *
{
	word-wrap:break-word;
}

.navbar-collapse
{
	max-height: inherit;
}

.container
{
	padding: 0;
}

.article a
{
	text-decoration: none;
	color: #666;
}

.glyphicon
{
	top: -1px;
	vertical-align: middle;
}